ServerSignature Off
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1

RewriteCond %{HTTP_HOST} ^www.vodasol.by
RewriteRule ^(.*)$ http://vodasol.by/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !\..{1,10}$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)/$ https://vodasol.by/$1/ [L,R=301]